<div align="center" style="padding:10px;" class="container">
<h1>Dev</h1>

<h2>FIND BY NO</h2>

<b>USER</b>
<form action="/user_instances/" method="get">
	USER_NO
	<input type="input" name="search" value= "" >
	
	<input type="submit" value="find">
</form>
<br>



<b>CHARACTER</b>
<form action="/character_instances/" method="get">
	CHRACTER_NO
	<input type="input" name="search" value= "" >
	
	<input type="submit" value="find">
</form>
<br>


<b>MONSTER</b>
<form action="/monster_instances/" method="get">
	MONSTER_NO
	<input type="input" name="search" value= "" >
	
	<input type="submit" value="find">
</form>
<br>


<b>ITEM</b>
<form action="/item_instances" method="get">
	ITEM_NO
	<input type="input" name="search" value= "" >
	
	<input type="submit" value="find">
</form>
<br>


<b>SKILL</b>
<form action="/skill_scripts" method="get">
	SKILL_NO
	<input type="input" name="search" value= "" >
	
	<input type="submit" value="find">
</form>
<br>


<b>MAIL</b>
<form action="/mail_instances" method="get">
	MAIL_NO
	<input type="input" name="search" value= "" >
	
	<input type="submit" value="find">
</form>
<br>


<b>REPORT_SEARCH</b>
<form action="/report/search" method="get">
	TEXT
	<input type="input" name="text" value= "" >
	
	<input type="submit" value="find">
</form>
<br>

</div>