<div align="center" style="padding:10px;" class="container">
<h1>User</h1>

<h2>FIND BY NICKNAME</h2>

<b>USER</b>
<form action="/user/find_by_nickname" method="get">
	NICKNAME
	<input type="input" name="nickname" value= "" >
	
	<input type="submit" value="find">
</form>
<br>

<b>CHARACTER</b>
<form action="/character/find_by_nickname" method="get">
	NICKNAME
	<input type="input" name="nickname" value= "" >
	
	<input type="submit" value="find">
</form>
<br>


<b>MONSTER</b>
<form action="/monster/find_by_nickname" method="get">
	NICKNAME
	<input type="input" name="nickname" value= "" >
	
	<input type="submit" value="find">
</form>
<br>


<b>ITEM</b>
<form action="/item/find_by_nickname" method="get">
	NICKNAME
	<input type="input" name="nickname" value= "" >
	
	<input type="submit" value="find">
</form>
<br>


<b>ITEM [EQUIP]</b>
<form action="/item/equip_find_by_nickname" method="get">
	NICKNAME
	<input type="input" name="nickname" value= "" >
	
	<br>
	CHARACTER
	<select name="character_id">
		<option value="1" selected>김성열</option>
		<option value="2">호연</option>
	</select>
	
	<input type="submit" value="find">
</form>
<br>


<b>SKILL</b>
<form action="/skill/find_by_nickname" method="get">
	NICKNAME
	<input type="input" name="nickname" value= "" >
	
	<br>
	CHARACTER
	<select name="character_id">
		<option value="1" selected>김성열</option>
		<option value="2">호연</option>
	</select>
	
	<input type="submit" value="find">
</form>
<br>

<b>MAIL [with OPENED]</b>
<form action="/mail/record" method="get">
	NICKNAME
	<input type="input" name="nickname" value= "" >
	
	<input type="submit" value="find">
</form>
<br>


<b>MAIL [without OPENED]</b>
<form action="/mail/find_by_nickname" method="get">
	NICKNAME
	<input type="input" name="nickname" value= "" >
	
	<input type="submit" value="find">
</form>
<br>


<b>QUEST</b>
<form action="/quest/find_by_nickname" method="get">
	NICKNAME
	<input type="input" name="nickname" value= "" >
	
	<input type="submit" value="find">
</form>


<b>PVP</b>
<form action="/pvp/find_by_nickname" method="get">
	NICKNAME
	<input type="input" name="nickname" value= "" >
	
	<input type="submit" value="find">
</form>
<br>

<b>FRIEND</b>
<form action="/friend/find_by_nickname" method="get">
	NICKNAME
	<input type="input" name="nickname" value= "" >
	
	<input type="submit" value="find">
</form>
<br>


<b>STAGE</b>
<form action="/stage/find_by_nickname" method="get">
	NICKNAME
	<input type="input" name="nickname" value= "" >

	<br>
	CHARACTER
	<select name="character_id">
		<option value="1" selected>김성열</option>
		<option value="2">호연</option>
	</select>
	
	<input type="submit" value="find">
</form>
<br>

<b>STAGE_CLEAR</b>
<form action="/stage_clear/find_by_nickname" method="get">
	NICKNAME
	<input type="input" name="nickname" value= "" >
	
	<br>
	CHARACTER
	<select name="character_id">
		<option value="1" selected>김성열</option>
		<option value="2">호연</option>
	</select>
	
	<input type="submit" value="find">
</form>


<b>MASTERY</b>
<form action="/mastery/find_by_nickname" method="get">
	NICKNAME
	<input type="input" name="nickname" value= "" >
	
	<input type="submit" value="find">
</form>


<b>DAYCHECK</b>
<form action="/daycheck/find_by_nickname" method="get">
	NICKNAME
	<input type="input" name="nickname" value= "" >
	
	<input type="submit" value="find">
</form>

<br>

</div>